name: Awesome List CI

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  awesome-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Install awesome-lint
        run: npm install -g awesome-lint
      - name: Run awesome-lint
        run: awesome-lint
